/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; z-index:100; }

.DynarchCalendar, .DynarchCalendar table {
  border: 1px solid #6dd0f7;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;;
}

.DynarchCalendar table {
  border: 0 none;
}

/* Header part -- contains navigation buttons and day names. */

.DynarchCalendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
  background: #6dd0f7;
}

.DynarchCalendar .nav {
/*  background: #6dd0f7 url(menuarrow.gif) no-repeat 100% 100%;*/
	background: #6dd0f7;
}

.DynarchCalendar thead tr {
	vertical-align:top;
	height:20px;
}

.DynarchCalendar thead .title { /* This holds the current "month, year" */
  font-weight: normal;      /* Pressing it will take you to the current date */
  font-size:12px;
  line-height:12px;
  text-align: center;
  background: #6dd0f7;
  color: #000;
  padding: 2px;
}

.DynarchCalendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #6dd0f7;
  color: #000;
}

.DynarchCalendar thead .daynames { /* Row <TR> containing the day names */
  background: #fff;
}

.DynarchCalendar thead .name { /* Cells <TD> containing the day names */
/*  border-bottom: 1px solid #556;*/
  padding: 2px;
  text-align:center;
  font-style:italic;
  color: #000;
}

.DynarchCalendar thead .weekend { /* How a weekend day name shows in header */
  background:#f2f2f2;
}

.DynarchCalendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #b4e5f9;
  color: #000;
  border: 1px solid;
  border-color:#b4e5f9 #4e4e4e #4e4e4e #b4e5f9;
  padding: 1px;
}

.DynarchCalendar thead .active { /* Active (pressed) buttons in header */
  background-color: #b4e5f9;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.DynarchCalendar tbody .day { /* Cells <TD> containing month days dates */
  width: 1.5em;
  color: #000;
  background:#fff;
  text-align: right;
/* !
  padding: 2px 4px 2px 2px;
*/
  padding: 2px 4px 2px 2px;
}
.DynarchCalendar tbody .day.othermonth {
  color: #666;
}
.DynarchCalendar tbody .day.othermonth.oweekend {
  color: #666;
  background-color: #f2f2f2;
}
.DynarchCalendar tbody .day.othermonth.disabled {
  color: #aaa;
}

.DynarchCalendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #6dd0f7;
}

.DynarchCalendar tbody .rowhilite td {
/*  background: #b4e5f9;*/
}

.DynarchCalendar tbody .rowhilite td.wn {
  background: #6dd0f7;
}

.DynarchCalendar tbody td.hilite { /* Hovered cells <TD> */
  background: #b4e5f9!important;
  padding: 1px 3px 1px 1px;
  border: 1px solid #6dd0f7;
}

.DynarchCalendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #6dd0f7;
  padding: 2px 2px 0px 2px;
}

.DynarchCalendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.DynarchCalendar tbody td.weekend { /* Cells showing weekend days */
  color:#000;
  background: #f2f2f2;
}

.DynarchCalendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color:#0076a3;
}

.DynarchCalendar tbody .disabled { color: #aaa; }

.DynarchCalendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.DynarchCalendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.DynarchCalendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  display:none;
  text-align: center;
  background: #556;
  color: #fff;
}

.DynarchCalendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #0076a3;
  border-top: 1px solid #556;
  padding: 1px;
}

.DynarchCalendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #b4e5f9;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.DynarchCalendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #b4e5f9;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.DynarchCalendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.DynarchCalendar .combo .label,
.DynarchCalendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.DynarchCalendar .combo .label-IEfix {
  width: 4em;
}

.DynarchCalendar .combo .hilite {
  background: #acf;
}

.DynarchCalendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

.DynarchCalendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.DynarchCalendar td.time .hour,
.DynarchCalendar td.time .minute,
.DynarchCalendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.DynarchCalendar td.time .ampm {
  text-align: center;
}

.DynarchCalendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.DynarchCalendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.DynarchCalendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}
